* {
  margin: 0;
  padding: 0;
}

.app-logo {
  width: 260px;
  height: 230px;
  margin-bottom: 20px;
}

.nav-logo {
  margin: 0.53rem;
  overflow: hidden;
  width: 200px;

  & img {
    width: 100%;
  }
}

.login-form {
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: rgb(0, 22, 40);
  position: relative;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 480px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 6%;
  margin-bottom: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-textfield {
  margin-bottom: 18px !important;
  margin-left: 28px !important;
  width: 270px !important;
}

.login-button {
  padding: 10px;
  width: 110px;
  cursor: pointer;
  background-color: #880808;
  color: white;
  border: none;
  border-radius: 100px;
  font-size: 15px;
}

.main-layout {
  width: 100vw;
  height: 220vh;
}

.ant-layout-sider {
  min-width: 220px !important;
}

.ant-layout-sider-collapsed {
  min-width: 80px !important;
}

.ant-typography{
  margin: 0 !important;
  padding-top: 30px !important;
  font-weight: 300 !important;
}

.ant-card-head{
  border-bottom: 0 !important;
}
.MuiChartsLegend-mark{
  height: 0;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-modal .ant-modal-close{
  border-radius: 50%;
}


.ant-modal-title{
  font-weight: 300 !important;
  font-size: 30px !important;
}

.jodit-status-bar-link{
  display: none;
}
